/* Container do Card */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Outfit", sans-serif;
}

.car-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 20px;
    margin: 15px;
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Hover para o card */
.car-card:hover {
    transform: scale(1.02); /* Aumenta ligeiramente o card */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}

/* Imagem do carro */
.car-image {
    width: 100%;
    height: 180px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem deformar */
    border-radius: 8px;
}

/* Detalhes do carro */
.car-details {
    text-align: center;
    padding: 15px 0;
}

/* Título do carro */
.car-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0 5px;
}

/* Descrição */
.car-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

/* Preço */
.car-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #FF6F00; /* Cor vibrante como a do Sixt */
    margin-bottom: 15px;
}

/* Botão de ação */


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Outfit", sans-serif;
}

body{
   width: 100%;
   height: 100vh;
}

.btn{
   padding: 10px 25px;
   display: inline;
   background-color: tomato;
   border-radius: 20px;
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   transition: background-color 0.5s;

   transform: translate(-50%, -50%);
   z-index: 1;
}

.btn:hover{
   background-color: #ff4c2c;
}

.modal-container{
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #0000004b;
   z-index: 999;
   align-items: center;
   justify-content: center;
   display: none;
}

.modal{
   width: 90%;
   height: auto;
   min-width:400px;
   min-height: 200px;
   background-color: #ffffff;
   padding: 100px;
   border-radius: 10px;
}

.fechar{
   position: absolute;
   top: -5px;
   right: -5px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: none;
   background-color: #ff0000;
   color: #fff;
   font-weight: 700;
   font-size: 14pt;
   cursor: pointer;
}

.modal h1{
   margin-bottom: 20px;
}

@keyframes animate-modal {
   from{
       opacity: 0;
       transform: translateY(100vh);
   }

   to{
       opacity: 1;
       transform: translateY(0);
   }
}

.modal-container.mostrar{
   display: flex;
}

.mostrar .modal{
   animation: animate-modal .8s;
}