<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="/static/register_style.css">
</head>
<body>
   <div class="form-container">
      <p class="title">Register</p>
      <form class="form", method="POST" action="/register">
        {{ form.hidden_tag() }}
        <div class="input-group">
          <label for="name">Name</label>
          {{ form.username(class="input") }}
        </div>
        <div class="input-group">
          <label for="Password">Phone</label>
          {{ form.password(class="input") }}
          <label for="email">Email</label>
          <!-- <input placeholder="" id="email" name="email" type="email" /> -->
          
        </div>
       {{ form.submit(class="sign") }}
        
      </form>
      <div class="social-message">
        <div class="line"></div>
        <p class="message">Entre Details to view Virtual Tour</p>
        <div class="line"></div>
      </div>
    </div>
</html>