<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h1>Adicionar Veículo</h1>
   <form method="POST" action="/add_veiculo">
      {{ form.hidden_tag() }}
      <div>
         <label for="marca">Marca:</label>
         {{ form.marca(class="input") }}
      </div>
      <div>
         <label for="modelo">Modelo:</label>
         {{ form.modelo(class="input") }}
      </div>
      <div>
         <label for="ano">Ano:</label>
         {{ form.ano(class="input") }}
      </div>
      <div>
         <label for="preco">Preço:</label>
         {{ form.preco(class="input") }}
      </div>
      <div>
         {{ form.submit(class="sign") }}
      </div>
   </form>
</body>
</html>