<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='style_display.css') }}">
   <title>Veiculos</title>
</head>
<body>
   <div class="card-container">
      {% for veiculo in veiculos %}
      <div class="car-card">
         <img src="carro.jpg" alt="Nome do Carro" class="car-image">
         <div class="car-details">
             <h3 class="car-title">{{veiculo.marca}}</h3>
             <p class="car-description">{{veiculo.modelo}}</p>
             <div class="car-price">
                 <span>{{veiculo.diaria}}</span> / dia
             </div>
             <a href="{{ url_for('alugar.alugar_veiculo', id=veiculo.id) }}" class="car-action">Alugar Agora</a>
         </div>
     </div>
      {% endfor %}
</body>
</html>