<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>DISPLAY VEICULOS</title>
</head>
<body>
   <table border="1">
       <tr>
           <th>Marca</th>
           <th>Modelo</th>
           <th>Ano</th>
           <th>Diaria</th>
       </tr>
       {% for v in veiculo %}
       <tr>
           <td>{{ v.marca }}</td>
           <td>{{ v.modelo }}</td>
           <td>{{ v.ano }}</td>
           <td>{{ v.diaria }}</td>
           <a href="/editar_veiculo/{{ v.id }}">Deletar</a>
         
       </tr>
       {% endfor %}
</body>
</html>