<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <h1>Editar Veículo {{veiculo.modelo}}</h1>
   <form method="POST" action="/editar_veiculo/{{ veiculo.id }}">
      {{ form.hidden_tag() }}
      <div>
         <label for="tipo">Tipo:</label>
         {{ form.tipo(class="input") }}
      </div>
      <div>
         <label for="marca">Marca:</label>
         {{ form.marca(class="input") }}
      </div>
      <div>
         <label for="modelo">Modelo:</label>
         {{ form.modelo(class="input") }}
      </div>
      <div>
         <label for="ano">Ano:</label>
         {{ form.ano(class="input") }}
      </div>
      <div>
         <label for="diaria">Diária:</label>
         {{ form.diaria(class="input") }}
      </div>
      <div>
         <label for="Categoria">Categoria:</label>
         {{ form.categoria(class="input") }}
      </div>
      <div>
         <label for="ultima inspeção">Última Inspeção:</label>
         {{ form.ultima_inspeçao(class="input") }}
      </div>
      <div>
         <label for="proxima inspeção">Próxima Inspeção:</label>
         {{ form.proxima_inspeçao(class="input") }}
      </div>
      <div>
         <label for="em manutenção">Em Manutenção:</label>
         {{ form.em_manutençao(class="input") }}
      </div>
      <div>
         <label for="data_legalização">Data de Legalização:</label>
         {{ form.legalizaçao(class="input") }}
      </div>
      <div> 
         <label for="Valor Legalização">Valor Legalização:</label>
         {{ form.valor_legalizaçao(class="input") }}
      </div>
      <div>
         <label for="alugado">Alugado:</label>
         {{ form.alugado(class="input") }}
      </div>
      <div>
         {{ form.submit(class="sign") }}
      </div>
   </form>
   <form method="POST" action="{{ url_for('veiculos.deletar_veiculo', id=veiculo.id) }}">
      <button type="submit">Deletar</button>
   </form>

</body>
</html>